# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @NethermindEth/Angkor/angkor-validator-operators

/.github/workflows/ @NethermindEth/Angkor/angkor-validator-operators @AntiD2ta @aivarasko @matilote

/charts/common/ @aivarasko @matilote
/charts/dirk/ @aivarasko @matilote
/charts/execution-beacon/ @aivarasko @AntiD2ta @matilote
/charts/lodestar/ @aivarasko @matilote
/charts/mev-boost/ @aivarasko @matilote
/charts/posmoni/ @aivarasko @matilote
/charts/validator-ejector/ @aivarasko @matilote
/charts/validator-kapi/ @aivarasko @matilote
/charts/validators/ @aivarasko @matilote
/charts/vouch/ @aivarasko @matilote
/charts/web3signer/ @aivarasko @matilote
